db-connessione-include.php
presidenteprova.jpg
segreteriaprova.jpg
ragioneriaprova.jpg
acquistiprova.jpg
personaleprova.jpg
presidente.jpg
segreteria.jpg
ragioneria.jpg
acquisti.jpg
personale.jpg
/public/lettere*
public/log/*
!public/log/.gitkeep
/public/foto/*
!/public/foto/sagoma.png
/public/images/intestazione.jpg
/public/images/footer.jpg
/public/images/footerlettere.jpg
/public/images/headerpresidente.jpg
/public/images/headersegreteria.jpg
/public/images/headerragioneria.jpg
/public/images/headerpersonale.jpg
/public/images/headeracquisti.jpg
/public/images/logo-azienda.png
/public/images/logo-azienda2.jpg
public/images/barcode/*
!public/images/barcode/.gitkeep
public/certificati/*
!public/certificati/.gitkeep
/public/images/intestazione_certificato.png
public/cartecircolazione/*
!public/cartecircolazione/.gitkeep