db-connessione-include.php
firma.jpg
firmaprova.jpg
mail-conf-include.php
/public/lettere*
public/graphs/*
!public/graphs/.gitkeep
public/log/*
!public/log/.gitkeep
/public/foto/*
!/public/foto/sagoma.png
/public/images/intestazione.jpg
/public/images/footer.jpg
/public/images/footerlettere.jpg
/public/images/headerpresidente.jpg
public/images/barcode/*
!public/images/barcode/.gitkeep
