db-connessione-include.php
presidente.jpg
presidenteprova.jpg
segreteria.jpg
segreteriaprova.jpg
ragioneria.jpg
ragioneriaprova.jpg
acquisti.jpg
acquistiprova.jpg
personale.jpg
personaleprova.jpg
mail-conf-include.php
/public/lettere*
public/graphs/*
!public/graphs/.gitkeep
public/log/*
!public/log/.gitkeep
/public/foto/*
!/public/foto/sagoma.png
/public/images/intestazione.jpg
/public/images/footer.jpg
/public/images/footerlettere.jpg
/public/images/headerpresidente.jpg
/public/images/headersegreteria.jpg
/public/images/headerragioneria.jpg
/public/images/headerpersonale.jpg
/public/images/headeracquisti.jpg
/public/images/logo-azienda.png
public/images/barcode/*
!public/images/barcode/.gitkeep